.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: $font;
  line-height: 1;
  color: $text-color;
  font-weight: 400;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  color: #fff;
  padding: 17px 77px;
  background-color: #f53838;
  border-radius: 10px;
  font-weight: 700;
  line-height: calc(25 / 16);
  box-shadow: 0 25px 50px -10px rgba(245, 56, 56, 0.7);
}
