.lasles-master .intro {
  margin-bottom: 95px;
  &-container {
    padding: 37px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 42px 90px 0 rgba(13, 16, 37, 0.06);
  }
  &-item {
    display: flex;
    gap: 36.5px;
    padding: 30px 0 30px 91px;
    flex: 0 0 calc(100% / 3);
    &:not(:last-child) {
      border-right: 2px solid #eeeff2;
    }
  }
  &-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: calc(30 / 25);
  }
  &-name {
    font-size: 20px;
    line-height: calc(30 / 20);
    font-weight: 400;
    color: #4f5665;
  }
}
