// html {
//   box-sizing: border-box;
// }
// * {
//   margin: 0;
//   padding: 0;
// }
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }
.lasles-master input,
textarea,
select,
button {
  outline: none;
}
.lasles-master input {
  line-height: normal;
}
.lasles-master label,
button {
  cursor: pointer;
}
.lasles-master a {
  text-decoration: none;
}
.lasles-master img {
  display: block;
  max-width: 100%;
}
